.page {
    font-family: 'Afcad', 'Chillax';
    background-color: rgb(245, 241, 241);
    width: 70%;
    font-size: 18px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

@media screen and (max-width: 600px) {
    .page {
        font-size: 16px;
        width: 100%;
    }
  }